################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Builds/VisualStudio2019/x64/Debug
/Builds/VisualStudio2019/.vs/SimpleSamper/v16
